<div style="background-image: url({{model.logo.content.file}}); background-repeat: no-repeat; background-positition: center;">
    <h4 class="tile-title">{{model.title}}</h4>
    <h6 class="tile-submission-count"> Location: {{location-display model.city
        model.state model.country}} </h6>
    <h6 class="tile-submission-count"> Date: {{date-display model.eventStart}} </h6>
    <h6 class="tile-submission-count"> Submissions: {{model.submissionCount}} </h6>
    <h5 class="tile-description">{{truncate model.description limit=200}}</h5>
</div>
