<div  style="background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4) ), url({{model.logo.content.file}}); background-position: center; background-repeat: no-repeat; background-size: cover; height: inherit; padding: 5px; margin: 5px;">
    <h4 class="tile-title">{{model.title}}</h4>
    <h6 id= "location" class="tile-submission-count"> Location: {{location-display model.city
        model.state model.country}} </h6>
    <h6 id= "date" class="tile-submission-count"> Date: {{date-display model.eventStart}} </h6>
    <h6 id="submissions" class="tile-submission-count"> Submissions: {{model.submissionCount}} </h6>
    <h5 class="tile-description">{{truncate model.description limit=200}}</h5>
</div>
