<td class="tableTitle">
    {{#if this.isRenaming}}
        {{input value=submission.title}}
    {{else}}
        <a target="_blank" style="color: #0080ff;" href={{link-to-osf submission.nodeId}}>
            {{submission.title}}
        </a>
    {{/if}}
</td>
<td class="tableCategory">{{submission.category}}</td>
<td class="tableDate">{{date-display submission.dateCreated}}</td>
<td class="tableDownload">
    <button class='btn btn-sm btn-success' {{action "download" submission.fileUrl}}>
        <span class="glyphicon glyphicon-download"></span>
    </button>
    {{submission.downloadCount}}
</td>
<td class="tableEdit" scope="row">
    {{#if this.isRenaming}}
        <button class='btn-success' {{action "confirmRename" submission}}>Confirm</button>
        <button class='btn-danger' {{action "cancelRename" submission}}>Cancel</button>
    {{else}}
        <button class='btn-warning' {{action "clickRename"}} >Rename</button><br>
        <button class='btn-danger' {{action "clickDelete"}} >Delete</button>
    {{/if}}
</td>
{{#if this.displayModal}}
    {{#modal-dialog close="hideform" targetAttachment="center" translucentOverlay=true}}
        Are you sure you want to delete the submission: <b>{{submission.title}}</b>?
        <br>
        <button class="btn btn-danger" {{action "cancelDelete"}}>Cancel</button>
        <button class="btn btn-success" {{action "confirmDelete" submission}}>Confirm</button>
    {{/modal-dialog}}
{{/if}}
