<div class="container-fluid">
    <div class="row conference-view-outer-container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="conference-info">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="node-title">
                                     {{model.conf.title}}
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src={{model.conf.logo.file}}>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <h6 style="margin:15px 0 0 0">
                                        Date: {{this.conferenceDates}}
                                        {{date-display model.conf.eventStart}} - {{date-display model.conf.eventEnd}}
                                    </h6>
                                    <h6>
                                        Location: {{model.conf.city}},
                                        {{model.conf.state}}, {{model.conf.country}}</h6>
                                    <div class="logo-view" align="center"></div>
                                    <p class="conference-description">
                                        Description: {{model.conf.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default"
                                            {{action "toggleInfo"}}>
                                                Add a submission
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" id="submission-instructions">
                                <div class="col-md-6">
                                    <div class="submission-modal">
                                    <strong>Submit through email</strong>
                                    <h6>Send an email to your conference identifier with the files you'd like to submit attached to it.</h6>
                                    <h6>We’ll create an OSF project for you. You'll get a permanent link to your presentation, plus analytics about who has viewed and downloaded your work.</h6>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group submission-modal" role="group" aria-label="...">
                                        <strong>Upload Here:</strong>
                                        <br>
                                        <h6>You can also use our upload form to submit files</h6>
                                        {{#link-to "conference.submission" model.conf.id}}
                                            <button type="button" class="btn btn-success" style="margin: 0 0 5px 0; width: 200px;"><span class="glyphicon glyphicon-plus"></span>  Upload a File</button>
                                        {{/link-to}}
                                    </div>
                                </div>
                                
                            </div>
                            

                            <!-- This is the basic code for a table of submissions without images -->
                            {{#if model.conf.submissionCount}}
                                {{#if model.conf.mySubmissionCount}}
                                    <h5>My Submissions</h5>
                                    <table class="table table-hover table-responsive">
                                        <thead class="thead-default">
                                            <tr>
                                                <th class="heading" width="20%" data-sortable="true">Title</th>
                                                <th class="heading" width="15%">Category</th>
                                                <th class="heading" width="19%">Submission Date</th>
                                                <th class="heading" width="15%">Downloads</th>
                                                <th class="heading" width="10%">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each model.allSubmissions as |item|}}
                                                {{#if item.canEdit}}
                                                    {{my-submissions submission=item}}
                                                {{/if}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                {{/if}}
                                {{#unless (isEqual model.conf.submissionCount model.conf.mySubmissionCount)}}
                                    <h5>Submissions to conference</h5>
                                    <table class="table table-hover">
                                        <thead class="thead">
                                            <tr>
                                                <th class="heading" bgcolor="#E0E0E0" width="30%" data-sortable="true">Title</th>
                                                <th class="heading" bgcolor="#E0E0E0" width="15%">Author</th>
                                                <th class="heading" bgcolor="#E0E0E0" width="15%">Category</th>
                                                <th class="heading" bgcolor="#E0E0E0" width="19%">Submission Date</th>
                                                <th class="heading" bgcolor="#E0E0E0" width="15%">Download</th>
                                                <th class="heading" bgcolor="#E0E0E0" width="6%">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each model.allSubmissions as |item|}}
                                                {{#unless item.canEdit}}
                                                    <tr bgcolor="FFFFFF">
                                                        <td class="tableTitle" scope="row">
                                                            <a target="_blank" style="color: #0080ff;" href={{link-to-osf item.id}}>
                                                                {{item.title}}
                                                            </a>
                                                        </td>
                                                        <td style="color: black;">
                                                            {{#each item.contributors as |contributor|}}
                                                                {{contributor.users.fullName}}
                                                            {{/each}}
                                                        </td>
                                                        <td class="tableCategory" style="color: #000000">{{item.category}}</td>
                                                        <td class="tableDate" style="color: #000000">{{item.dateCreated}}</td>
                                                        <td class="tableDownload" style="color: #000000; text-align: center">
                                                            <button
                                                                type='btn-success'
                                                                {{action "download" item.fileUrl}}>
                                                                ↓
                                                            </button>
                                                        </td>
                                                        <td class="tableDownloadCount" style="color: #000000">
                                                            {{item.downloadCount}}
                                                        </td>
                                                    </tr>
                                                {{/unless}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                {{/unless}}
                            {{else}}
                                <!-- This needs styling and probably rephrasing -->
                                <div style="color:black; font-size:16px;">
                                    No submissions have been made for this conference
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{outlet}}
