<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form>
                    <h4>Create a New Conference </h4>
                    <div class="form-group row fade-background">
                        <div class="section-header">IDENTIFY</div>
                        <hr>
                        <div class="col-lg-6" id="titleScroll">
                            <label for="title">Title</label>
                            {{validator-input tagType='input' type='text'
                                model=model.newConf valuePath='title'
                                placeholder='e.g., Python Conference 2016'}}
                            <label for="city" >Short conference ID</label>
                            {{validator-input tagType='input' type='text'
                                model=model.newConf valuePath='id'
                                placeholder='e.g., pycon2016'}}
                            <br>
                            <label for="website">Website</label>
                            {{input type='text' value=model.newConf.site
                                class="form-control form-spacing"
                                placeholder="www.example-conference.com"
                                id="website"}}

                            <label for="city">Logo</label>
                            {{upload-widget
                                success=(route-action "success")
                                preUpload=(route-action "preUpload")
                                resolve=resolveUpload
                                dropZone=drop
                            }}

                            {{!-- Keeping Description as normal textarea to allow for twitter style countdown, may have to change this later--}}
                            <label for="description"  id="descriptionScroll">
                                Description:</label>

                            <div id="remaining"></div>
                            {{textarea value=model.newConf.description class="form-control resize" id="description" key-up="count" }}
                            {{#if model.newConf.description}}
                                {{error-message model=model.newConf field='description'}}
                            {{/if}}
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                    <div class="form-group row fade-background">
                        <div class="section-header">LOCATE</div>
                        <hr>
                        <div class="col-lg-6">
                            <div>
                                <label for="country" id="countryScroll">
                                    Country
                                </label>
                                <select class="form-control form-spacing"
                                        onchange={{action (mut model.newConf.country) value="target.value"}}>
                                    <option value=''>select a country</option>
                                    {{#each model.meta.data.actions.POST.country.choices
                                        as |countryChoice|}}
                                        <option value={{countryChoice.value}}>
                                        {{countryChoice.display_name}}
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div>
                                <label for="state" id="stateScroll">
                                    State
                                </label>
                                {{validator-input tagType='input' model=model.newConf
                                    valuePath='state' placeholder='State'}}
                            </div>
                            <div>
                                <label for="city" id="cityScroll">City</label>
                                {{validator-input tagType='input' model=model.newConf
                                    valuePath='city' placeholder='City'}}
                            </div>
                        </div>

                    </div>
                    <div class="form-group row fade-background">
                        <div class="section-header" id="dateScroll">CONFERENCE WINDOW</div>
                        <hr>
                        <div class="col-lg-6">
                            <label for="city">Start</label>
                            {{bs-datetimepicker date=model.newConf.eventStart class="form-control" id='startDate'}}
                        </div>
                        <div class="col-lg-6">
                            <label for="city">End</label>
                            {{bs-datetimepicker date=model.newConf.eventEnd class="form-control" id='endDate'}}
                            {{model.newConf.eventEnd}}
                        </div>
                    </div>

                    <div class="form-group row fade-background">
                        <div class="section-header">SUBMISSION WINDOW</div>
                        <hr>
                        <div class="col-lg-6">
                            <label for="city">Start</label>
                            {{bs-datetimepicker
                            date=model.newConf.submissionStart
                            class="form-control" id='submissionDate'}}
                        </div>
                        <div class="col-lg-6">
                            <label for="city">End</label>
                            {{bs-datetimepicker date=model.newConf.submissionEnd class="form-control" id='closeDate'}}
                            {{#if this.displayErrors}}
                                {{#each errors.model.newConf.submissionStart as |error|}}
                                    <br><div class="alert alert-danger" role="alert">{{error}}</div>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>

                    <div class="form-group row fade-background" >
                        <div class="col-md-4">
                            <button class="btn btn-danger" {{action "back"}}>Cancel</button>
                            <button class="btn btn-success" disabled={{v-get model.newConf 'isInvalid'}} {{action "saveConference" model.newConf drop resolveUpload}}>
                                Create
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" {{action "preview"}}>Preview</button>
                            {{#if this.previewOn}}
                                {{#modal-dialog close="hideform" targetAttachment="center" translucentOverlay=true}}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="conferenceTopContainer col-md-12">
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <div class="conferenceInfo">
                                                            <h1>
                                                                {{model.newConf.title}}</h1>
                                                            <h4>
                                                                {{model.newConf.eventStart}} - {{model.newConf.eventEnd}} </h4>
                                                            <h4>{{model.newConf.city}},
                                                                {{model.newConf.state}},
                                                                {{model.newConf.country}} </h4>
                                                            <div class="logos"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-offset-2 conferencePhoto">
                                                        {{!--TODO: THIS WILL PROBABLY REQUIRE EDITING ONCE FILE UPLOAD IS WORKING CORREFTLY--}}
                                                        <img
                                                         src={{model.newConf.logo}}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-8 col-lg-offset-2">
                                                        <p
                                                         class="conference-description">{{model.newConf.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-danger" {{action "previewOff"}}>Close
                                            </button>
                                            <button class="btn btn-success" disabled={{v-get model.newConf 'isInvalid'}} {{action
                                                    "createConference" model.newConf}}>Submit
                                            </button>
                                        </div>
                                    </div>
                                {{/modal-dialog}}
                            {{/if}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
