<div class="container-fluid">
    <div class="row conference-view-outer-container">
        <div class="col-md-6 col-md-offset-3">
            <h5>Submit to:</h5>
            <h4 class="conference-title">{{model.conference.title}}</h4>
            <p class="conference-description">{{model.conference.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 fade-background">
            <div class="form-group row">
                <div class="col-md-5" style="height: 100%;">
                    <div class="submission-header"> Upload File(s):
                        {{upload-widget
                            success=(route-action "success")
                            preUpload=(route-action "preUpload")
                            dropZone=drop 
                            resolve=resolveUpload
                        }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row has-success">
                <div class="col-md-6">
                    <label> Title:</label>
                    {{validator-input tagType='input' type='text' model=model
                        valuePath='title' placeholder='Title'}}
                    {{#if this.displayErrors}}
                        {{#each errors.model.title as |error|}}
                            <br><div class="alert alert-danger" role="alert">{{error}}</div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <!--<div class="form-group row has-success">
                <div class="col-md-6">
                <label>Contributors:</label>
                {{!-- TODO: Make contributors an actual thing --}}
                {{input id="contributors" class="form-control"}}
                </div>
                </div> -->
                <div class="form-group row has-success">
                    <div class="col-md-6">
                        <label>Description:</label>
                        {{validator-input tagType='textarea' model=model
                            valuePath='description' placeholder='Description'}}
                        {{#if this.displayErrors}}
                            {{#each errors.model.description as |error|}}
                                <br><div class="alert alert-danger" role="alert">{{error}}</div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <button class="btn btn-success" {{action
                                "saveSubmission" model drop resolveUpload}}>
                            Submit
                        </button>
                        <button class=" btn btn-danger" {{action "cancelSubmission"}}>Cancel</button>
                    </div>
                </div>
        </div>
    </div>
</div>
