    <div class="container-fluid osf-light-background">
        <nav id="create" class="navbar navbar-default">
            <div class="container-fluid" id="browse">
                <form class="navbar-form navbar-left" role="search">
                    <img class="navbar-brand" src="https://osf.io/static/img/cos-white2.png">
                    <p class="navbar-brand">Search</p>
                    <div class="form-group">
                        {{input value=searchQuery placeholder="Search..." class="navbar-form form-control" action="search" on="key-up"}}
                    </div>
                    <button type="submit" class="btn btn-default" {{action "search"}}>Submit</button>
                    <button class="btn btn-default" {{action "moreResults"}}>More Results</button>
                    <h5>Page: {{page}}</h5>
                </form>
            </div>
        </nav>
          <div class="row conference-view-outer-container" id="indexBottom">
              <div class="col-md-12 table-view">
                  <div class="col-md-10 col-md-offset-1 conference-view-inner-container">
                      <table class="table">
                          <tbody>
                          {{#each model as |conference|}}
                            {{#link-to "conference.index.index" conference.id tagName="tr"}}
                                <td class="hidden-xs">
                                    <img src={{conference.logo}}>
                                </td>
                                <td>
                                    <h4>{{conference.title}}</h4>
                                </td>
                                <td>
                                  <h5>{{conference.website}}</h5>
                                </td>
                                <td>
                                <h6>{{conference.city}}, {{conference.state}}</h6>
                                </td>
                                <td> 
                                  {{truncate conference.description limit=200}}
                                </td>
                            {{/link-to}}
                          {{/each}}
                          </tbody>
                      </table>
                  </div> <!-- end conference-view-inner-container -->
              </div> <!-- end table-view -->
          </div><!-- end conference-view-outer-container-->
      {{outlet}}
    </div> <!-- end container fluid -->

{{yield}}