    <div class="container-fluid osf-light-background">
        <nav id="create" class="navbar navbar-default">
            <div class="container-fluid" id="browse">
                <form class="navbar-form navbar-left" role="search">
                    <img class="navbar-brand" src="https://osf.io/static/img/cos-white2.png">
                    <p class="navbar-brand">Search</p>
                    <div class="form-group">
                        {{input value=searchQuery placeholder="Search..." class="navbar-form form-control" action="search" on="key-up"}}
                    </div>
                    <button type="submit" class="btn btn-default" {{action "search"}}>Submit</button>
                    <button class="btn btn-default" {{action "moreResults"}}>More Results</button>
                </form>
            </div>
        </nav>
          <div class="row conference-view-outer-container" id="indexBottom">
              <div class="col-md-10 col-md-offset-1 conference-view-inner-container">
                  <div class="col-md-12 tile-view">
                      {{#masonry-grid  isFitWidth=true gutter=20 items= model as |conf|}}
                          {{#link-to "conference.index" conf.id class="title"}}
                              {{meeting-masonry title=conf.title
                              description=conf.description logo=conf.logo
                              location=(location-display
                              conf.city conf.state conf.country)
                              date=(date-display conf.start)
                              submissions=(submission-count 5)}}
                          {{/link-to}}
                      {{/masonry-grid}}
                  </div> <!-- end tile view -->
              </div> <!-- end conference-view-inner-container-->
          </div><!-- end conference-view-outer-container-->
      {{outlet}}
    </div> <!-- end container fluid -->

{{yield}}