    <div class="container-fluid osf-light-background">
        <nav id="create" class="navbar navbar-default navbar-background navbar-fixed-top">
            <div class="container-fluid" id="browse">
                <form class="navbar-form navbar-left" role="search">
                    <img class="navbar-brand" src="https://osf.io/static/img/cos-white2.png">
                    <p class="navbar-brand">Search</p>
                    <div class="form-group">
                        {{input value=searchQuery placeholder="Search..." class="navbar-form form-control" id='searchQuery' action="search"}}
                    </div>
                    <button type="submit" class="btn btn-default" {{action "search"}}>Search</button>
                    <button class="btn btn-outline-primary" {{action "forward"}}>More Results</button>
                </form>
            </div>
        </nav>
          <div class="row" id="indexBottom">
              <div class="col-md-12 table-view">
                  <div class="col-md-10 col-md-offset-1 fade-background">
                  {{#if this.results}}
                      <div class="col-md-12">
                          <div class="row table-head">
                                <div class="col-md-4">
                                    <h4>Title</h4>
                                </div>
                                <div class="col-md-4">
                                    <h4>Location</h4>
                                </div>
                                <div class="col-md-4"> 
                                  <h4>Description</h4>
                                </div>
                          </div>
                          {{#each model as |conference|}}
                            {{#link-to "conference.index.index" conference.id tagName="div" class="row"}}
                                <div class="col-md-4">
                                    <h5><strong><em>{{conference.title}}</em></strong></h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>{{conference.city}}, {{conference.state}}</h5>
                                </div>
                                <div class="col-md-4"> 
                                  <h5>{{truncate conference.description limit=200}}</h5>
                                </div>
                            {{/link-to}}
                          {{/each}}
                      </div>
                      {{else}}
                      <h4> There are no results for <em><strong>{{this.query}}</strong></em></h4>
                      {{/if}}
                  </div> <!-- end conference-view-inner-container -->
              </div> <!-- end table-view -->
              <div class="col-md-10 col-md-offset-1">
                <div class="col-md-3">
                  <h5 class="navbar-text">Page: {{model.meta.pagination.pages}}</h5>
                </div>
                <div class="col-md-3">
                  {{input value=pageNum placeholder="page" class="form-control" }}
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-default" {{action "topPage" }}>Submit</button>
                </div>
              </div>
          </div><!-- end conference-view-outer-container-->
      {{outlet}}
    </div> <!-- end container fluid -->

{{yield}}